<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Veille technologique</title>

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/script.js" charset="utf-8"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body class="pageMembres">
    <%- include('components/header') %>
    <main>
      <section>
        <div class="wrapper">
          <h1>Liste des membres</h1>
          <div class="content">
            <ul class="membres">
            <% for(var i=0; i < data.membres.length; i++) { %>
              <li>
                Nom: <%= data.membres[i].nom %><br>
                Prénom: <%= data.membres[i].prenom %><br>
                Téléphone: <%= data.membres[i].tel %><br>
                Courriel: <%= data.membres[i].email %><br>
              </li>
            <% } %>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
